/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------------------------------------/*
   # ELEMENTS
/*---------------------------------------*/
body {
  background-color: #fefefe;
  color: #41464a;
}

h1,
h2 {
  font-family: "Kalam", cursive;
  font-size: calc(1.375rem + 1.5vw);
  color: #fec116;
}

h3 {
  color: #1d1922;
  font-family: "Kalam", cursive;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #1d1922;
  padding: 2rem 0;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-over {
  padding: 2rem 0;
}
.c-over__text {
  padding: 1rem 1rem;
}

.c-concept {
  padding: 2rem 0;
  background-color: #1d1922;
  color: #fefefe;
}

.c-contact {
  padding-top: 2rem;
}
.c-contact__icon {
  color: #fec116;
  font-size: 1.75rem;
  padding: 2rem 0;
}
.c-contact__map {
  width: 100%;
  height: 25rem;
}
.c-contact__info {
  padding: 2rem 0;
}
.c-contact__form {
  padding-top: 2rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  box-shadow: 2px 2px 6px black;
}

.c-knop {
  background-color: #fec116 !important;
  padding: 0.75rem 0.75rem;
  border-radius: 13px;
  text-decoration: none;
  color: #fefefe;
}
.c-knop:hover {
  color: #fec116;
  background-color: #1d1922 !important;
  transition: 0.4s;
}

.c-title {
  padding-bottom: 2rem;
}

.c-nieuwsbrief {
  background-image: url(../images/plaat_nieuwbrief1.png);
  background-color: #1d1922;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 10rem;
}
.c-nieuwsbrief__title {
  text-shadow: 2px 2px #1d1922;
}
.c-nieuwsbrief__text {
  color: #fefefe;
}
.c-nieuwsbrief__form {
  margin-left: 35rem;
}

.c-footer {
  padding-top: 3rem;
  background-color: #1d1922;
  color: #fefefe;
}
.c-footer__img {
  margin-bottom: 2rem;
}
.c-footer__txt {
  margin-top: 3rem;
}
.c-footer__link {
  padding-top: 3rem;
  color: #fefefe;
}
.c-footer__link:hover {
  color: #fec116;
}
.c-footer__copy {
  font-size: 0.75rem;
}

/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.c-carousel {
  overflow: hidden;
  height: 70vh;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #1d1922;
}
.form-control::-moz-placeholder {
  color: #1d1922;
}
.form-control:-ms-input-placeholder {
  color: #1d1922;
}
.form-control::placeholder {
  color: #1d1922;
}

.form-control:focus {
  border-color: #fec116;
  box-shadow: none;
}

.form-control .input {
  color: #1d1922;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fefefe;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fec116;
}

.card {
  width: 20rem;
  padding: 0 0;
  border-bottom: #1d1922;
}

.btn-primary {
  border: none;
  background-color: #1d1922;
  color: #fec116;
}
.btn-primary:hover {
  color: #1d1922;
  background-color: #fec116;
  transition: 0.4s;
}
.btn-primary:focus {
  box-shadow: none;
  border: none;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  border: none;
  background-color: #1d1922;
  color: #fec116;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.a:active {
  color: #fec116;
}