/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

$color-yellow: #fec116;
$color-white: #fefefe;
$color-grey: #41464a;
$color-dark: #1d1922;

$font-standard: "Poppins", sans-serif;
$font-title: "Kalam", cursive;

$fontsize-text: 1rem;
$fontsize-headertitle: calc(1.375rem + 1.5vw);
$fontsize-title: 1.4rem;
$fontsize-icon: 1.75rem;
$fontsize-small: 0.75rem;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------------------------------------/*
   # ELEMENTS
/*---------------------------------------*/
body {
  background-color: $color-white;
  color: $color-grey;
}
h1,
h2 {
  font-family: $font-title;
  font-size: $fontsize-headertitle;
  color: $color-yellow;
}
h3 {
  color: $color-dark;
  font-family: $font-title;
  font-size: $fontsize-title;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  font-family: $font-standard;
}

hr{
border-top: #fec116 2px solid;  
}
nav {
  background-color: $color-dark;
  padding: 2rem 0;
}
textarea{
  padding-bottom: 0;
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-carousel{
  &__title{
    text-shadow: 1px 1px 2px $color-dark;
  }
}

.c-over {
  padding: 2rem 0;
  &__text{
    padding: 1rem 1rem;
  }
}

.c-concept {
  padding: 2rem 0;
  background-color: $color-dark;
  color: $color-white;
}
.c-contact {
  padding-top: 2rem;
  &__icon {
    color: $color-yellow;
    font-size: $fontsize-icon;
    padding: 2rem 0;
  }
  &__map {
    width: 100%;
    height: 25rem;
  }
  &__info {
    padding: 2rem 0;
  }
  &__form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    box-shadow: 2px 2px 6px black;
  }
  &__formulier{
    padding-bottom: 2rem;
  }
  &__link{
    text-decoration: none;
    color: $color-dark;
    &:hover{
      color: $color-yellow;
    }
  }
}
.c-knop {
  background-color: $color-yellow;
  padding: 0.75rem 0.75rem;
  border-radius: 13px;
  text-decoration: none;
  color: $color-white;
  &:hover {
    color: $color-yellow;
    background-color: $color-dark ;
    transition: 0.4s;
  }
}

.c-title {
  padding-bottom: 2rem;
}
.c-nieuwsbrief {
  background-image: url(../images/plaat_nieuwbrief1.png);
  height: 378px;
  background-color: $color-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 10rem;
  &__title {
    text-shadow: 2px 2px $color-dark;
  }
  &__text {
    color: $color-white;
  }
  &__icn{
    padding: 3rem 0;
  }
}
.c-footer {
  padding-top: 0.75rem;
  background-color: $color-dark;
  color: $color-white;
  &__link {
    padding-top: 3rem;
    color: $color-white;
    &:hover {
      color: $color-yellow;
    }
  }
  &__copy {
    font-size: $fontsize-small;
  }
}
.c-top a {
  color: $color-yellow;
  font-size: 2rem;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  text-decoration: none;
  &:hover{
    padding-bottom: 2.5rem;
    transition: 0.4s;
  }

}

.c-map{
  height: 400px;
}
/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid $color-dark;
  &::placeholder {
    color: $color-dark;
  }
}
.form-control:focus {
  border-color: $color-yellow;
  box-shadow: none;
}

.form-control .input {
  color: $color-dark;
}

.navbar-dark .navbar-nav .nav-link {
  color: $color-white;
  &:hover {
    color: $color-yellow;
  }
}

.card{
  width: 20rem;
  padding: 0 0;
  border-bottom: $color-dark;
}

.btn-primary{
  border: none;
  background-color: $color-dark;
  color: $color-yellow;
  &:hover{
    color: $color-dark;
    background-color: $color-yellow;
    transition: 0.4s;
  }
  &:focus{
    box-shadow: none;
    border: none;
    color: $color-dark;
    background-color: $color-yellow;
  }
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
  border: none;
  background-color: $color-dark;
  color: $color-yellow;
}

.btn-outline-secondary{
  color: #fec116;
  background-color: $color-dark;
  border-color: $color-dark;
  &:hover{
    transition: 0.4s;
    color: $color-white;
    background-color: $color-yellow;
    border-color: $color-yellow;
  }
  &:focus{
    box-shadow: none;
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/